@charset "utf-8";
/* CSS Document */

body {
	background-color: #FFFFFF;
	width: 100%;
	height: 100%;
	font-family: "Poppins" !important; 
	font-size: 14px;
}

header {
	background-color: #FFFFFF;
	padding: 10px;
}

nav {
	display: flex;
	list-style: none;
	width: 100%;
}

#backButton {
	background-color: transparent;
	border: none;
}

.container{
	margin-bottom: 100px;
}

.search-container {
	display: flex;
	position: relative;
}

.short-input {
	flex-wrap: wrap;
	display: flex;
}

input[type="text"] {
	width: 80%;
	margin: 0px 10px;
	border: none;
	background-color: transparent;
	height: 50px;
	z-index: 1;
}


input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 margin: 0;
}

input[type="month"]::-webkit-inner-spin-button,
input[type="month"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type="radio"], label {
	margin: 5px;
}

#nom-tarjeta, #num-tarjeta {
	border: none;
	width: 100%;
	color: #000000;
	background-color: #E8E8E8;	
	border-radius: 15px;
	height: 50px;
	text-indent: 10px;
	margin: 5px;
}

.icon-container {
	display: flex;
	position: relative;
}

.icon-container i {
	margin: 15px 10px;
	font-size: 24px !important;
	color: #0097a7 !important;
}

#fecha, #code {
	margin-right:5px;
	margin-top: 5px;
	margin-left: 5px;
	text-indent: 10px;
	border: none;
	border-radius: 15px;
	background-color: #E8E8E8;
	height: 50px;
}

#search-button-suc, #search-button-dom{
	border: none;
	width: 100%;
	position: absolute;
	color: #000000;
	background-color: #E8E8E8;	
	text-align: right;
	border-radius: 15px;
	height: 50px;
}

h2 {
	font-size: 20px;
}

.envio {
	margin-top: 15px;
	margin-bottom: 80px;
}

#search-button-suc i, #search-button-dom i{
	margin:0px 15px;
	padding: 0px;
}

#search-button-suc, #search-button-dom i:hover {
	color: #3B3B3B;
}

a {
	text-decoration: none !important;
	color:#000000 !important;
}

a:hover {
	color:#0097a7 !important;
}

.sticky-bar {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #FFFFFF;
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	color: #000000;
	font-size: 24px;
}

.fa-cart-shopping{
	color:#0097a7 !important;
}

i {
	margin:  15px 30px;
	font-size: 28px;
}

.center-icon {
	flex-grow: 1;
	text-align: center;
	color: #0097a7;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
	.menu-icon {
		display: block;
		float: right;
		position: absolute;
	}
	
	nav {
		display: none;
		flex-direction: column;
		background-color: #FFFFFF;
		position: absolute;
		width: 100%;
	}
	
	nav.active {
		display: flex;
		float: right;
		position: absolute;
	}
	
	.fa-cart-shopping{
	color:#0097a7 !important;
	}
}
