@charset "utf-8";
/* CSS Document */

body {
	background-color: #FFFFFF;
	width: 100%;
	height: 100%;
	font-family: "Poppins" !important; 
	font-size: 14px;
}

header {
	background-color: #FFFFFF;
	padding: 10px;
}

.menu {
	margin: none;
}

nav {
	display: flex;
	list-style: none;
	width: 100%;
}

.navbar-brand {
	color: #0097a7 !important;
	font-family: 'Paytone One', sans-serif;
	font-weight: 400;
	font-size: 28px !important;
}

.collapse ul {
	padding-top: 20px;
}
.container{
	text-align: center;
	border-radius: 5%;
	overflow: hidden;
	margin: 20px;
}

iframe{
		border-radius: 5%;
	max-width: 70%;
	max-height: 70%;
	min-height: 100px;
	min-width: 100px;

}
.text{
	margin-bottom: 100px;
	
	align-content: center;
}
nav li {
	margin: 0px 5px;
	list-style-type: none;
	float: left;
}

.search-container {
	display: flex;
	position: relative;
}

input[type="text"] {
	width: 80%;
	margin: 0px 10px;
	border: none;
	background-color: transparent;
	height: 50px;
	z-index: 1;
}

#search-button {
	border: none;
	width: 100%;
	position: absolute;
	color: #000000;
	background-color: #E8E8E8;	
	text-align: right;
	border-radius: 15px;
	height: 50px;
}

#search-button i {
	margin:0px 15px;
	padding: 0px;
}

#search-button:hover {
	color: #3B3B3B;
}

.oferta {
	width: 100%;
	margin: auto;
	align-content: center;
}

.oferta a {
	padding: 0px !important;
	margin: 15px;
}

.oferta img {
	border-radius: 15px;
	max-width: 100%;
}

h2 {
	font-size: 20px !important;
	margin: 0px 15px;
	padding-top: 20px;
}
h1 {
	font-size: 25px !important;
	margin: 0px 15px;
	padding-top: 20px;
}

.cat {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.categories {
	max-width: 100%;
	justify-content: space-between;
	text-align: center;
	margin: 5px;
	display: flex;
	padding-bottom: 80px;
}
		
.category {
	flex-basis: 45%;
	padding: 10px;
	margin: 5px;
	text-align: center;
}

.category h3 {
	font-size: 16px;
	margin: 15px;
}

.category img {
	width: 300px; 
	height: 300px; 
	object-fit: cover;
	border-radius: 15px;
}

a {
	text-decoration: none !important;
	color:#000000 !important;
}

a:hover {
	color:#0097a7 !important;
}

.sticky-bar {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #FFFFFF;
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	color: #000000;
	font-size: 24px;
}

.fa-house{
	color:#0097a7 !important;
}

i {
	margin:  15px 30px;
	font-size: 28px;
}

.center-icon {
	flex-grow: 1;
	text-align: center;
	color: #0097a7;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
	.menu-icon {
		display: block;
		float: right;
		position: absolute;
	}
	
	nav {
		display: none;
		flex-direction: column;
		background-color: #FFFFFF;
		position: absolute;
		width: 100%;
	}
	
	nav.active {
		display: flex;
		float: right;
		position: absolute;
	}
	
	.categories {
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		justify-content: center;
		width: 100%;
		margin:auto;
	}
	
	.fa-house{
	color:#0097a7 !important;
	}
}